!!!
%html
  %head
    %title gh-forks
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js")
    %script(type="text/javascript" src="/jquery.tablesorter.min.js")
    %script(type="text/javascript" src="http://use.typekit.com/bgu0aux.js")
    %link(rel="stylesheet" href="/tablesorter.css" type="text/css")
    :javascript
      try{Typekit.load();}catch(e){}
    :css
      body { width: 800px; margin: 0 auto; font-size: 14px; font-familly: Verdana; color: #666; }
      table { width: 100%; }
      p.error { color: red; font-weight: bold; font-size: 20px; }
      h1 { font-size: 300%; }
      h1 a { color: #999; }
      a { color: #000; }
      #header { margin-bottom: 30px; }
  %body

    #header
      %h1.tk-edding-780
        %a(href='/') gh-forks

      %form(action='/' id='search')
        %input(type='search' name='q' placeholder='rails' value=@repo size=30)

    != yield

    :javascript
      $(function() {
        $(document).bind('keyup', function(event) {
          if (event.which == 83 && !$(event.target).is(':input')) {
            $('#search input[name=q]').focus();
          }
        });

        $('#search').submit(function() {
          location.href = '/' + $("#search input[name=q]").val();
          return false;
        });
      });
